img {
  width: 100%;
}

resizeable:empty:not(:focus)::before, .comments .my-comment #text-area:empty:not(:focus)::before {
  content: attr(data-text);
  color: grey;
}
resizeable:not(:empty), .comments .my-comment #text-area:not(:empty) {
  box-shadow: 1px 1px 5px rgba(68, 138, 255, 0.3);
}

html {
  font-family: "Poppins", sans-serif !important;
  margin-top: 20vw;
  margin-bottom: 100px;
}

.border-right-solid {
  border-right: 1px solid #379fff;
  padding: 5px 2vw;
  margin-right: 2vw;
}

.float-right {
  float: right;
}

.top-decorator {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #448aff;
  height: 30vw;
  width: 100%;
  z-index: -10;
}

.blog {
  box-shadow: 0 24px 38px 3px rgba(88, 158, 255, 0.14), 0 9px 46px 8px rgba(88, 158, 255, 0.12), 0 11px 15px -7px rgba(88, 158, 255, 0.2);
  padding: 20px 0;
  z-index: 10;
  background-color: #ffffff;
}
.blog .blog-description h1 {
  padding: 0 20px;
}
.blog .blog-description .tags {
  padding: 30px 50px 0;
  text-align: center;
}
.blog .blog-description .tags .tag {
  border-radius: 10px;
  background-color: #4430ff;
  padding: 5px 10px;
  margin: 0 10px;
  color: white;
}
.blog .blog-description .meta-info {
  font-family: "Josefin", sans-serif;
  font-size: 18px;
  padding: 2vw 5vw 1vw;
}
.blog .blog-description .meta-info h6 {
  display: inline-block;
}
.blog .blog-description .meta-info .author-name a {
  line-height: 30px;
  padding-left: 10px;
}
.blog .blog-description .meta-info .author-name::before {
  content: "";
  display: block;
  background-image: url("../image/study.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 6px;
}
.blog .blog-description .meta-info .posted-on::before {
  content: "";
  display: block;
  background-image: url("../image/calendar.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 6px;
}
.blog .blog-description .meta-info .views::before {
  content: "";
  display: block;
  background-image: url("../image/eye.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 6px;
}
.blog #content .post-pic {
  margin-bottom: 50px;
}
.blog #content .article {
  padding: 0 5vw;
}
.blog #content .article h2, .blog #content .article h3 {
  font-family: "Josefin", sans-serif;
}
.blog #content .article .layer {
  margin: 5vw;
  padding: 1vw;
}
.blog #content .article .layer.img-half {
  width: 50%;
  display: inline-block;
}
.blog #content .article .layer img {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}
.blog .author {
  width: 70%;
  margin: 200px auto 50px;
  border-radius: 10px;
  background-color: rgba(68, 138, 255, 0.05);
  padding: 2vw 5vw;
  display: flex;
}
.blog .author .profile {
  display: inline-block;
}
.blog .author .profile .p-image {
  width: 60%;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.blog .author .profile .meta-info {
  text-align: center;
}
.blog .author .profile .meta-info .t-articles {
  display: inline-block;
}
.blog .author .profile .meta-info .t-articles::before {
  content: "";
  display: block;
  background-image: url("../image/study.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}
.blog .author .profile .meta-info .t-views {
  display: inline-block;
}
.blog .author .profile .meta-info .t-views::before {
  content: "";
  display: block;
  background-image: url("../image/eye.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}
.blog .author .info {
  text-align: center;
}
.blog .author .info .name h5 {
  text-decoration: underline;
}
.blog .author .info .my-details {
  font-family: "Josefin", sans-serif;
}

.comments {
  margin-top: 100px;
}
.comments .my-comment {
  border: 1px dashed black;
  border-left: none;
  border-right: none;
  padding: 20px;
}
.comments .my-comment:focus {
  background-color: red;
}
.comments .my-comment #text-area {
  border-radius: 10px;
  padding: 10px;
  resize: none;
  min-height: 80px;
}
.comments .my-comment #text-area:focus {
  outline: none;
  box-shadow: 1px 1px 5px rgba(68, 138, 255, 0.3);
}
.comments .my-comment button {
  display: none;
  float: right;
}
.comments .posted-comments {
  margin-left: 5vw;
}
.comments .posted-comments .main-comment {
  margin: 50px auto 100px;
}
.comments .posted-comments .main-comment .comment {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  position: relative;
  margin-top: 30px;
  border-radius: 20px 5px 20px 5px;
}
.comments .posted-comments .main-comment .comment .comment-info {
  margin: 0;
}
.comments .posted-comments .main-comment .comment .comment-info .usefulness {
  color: azure;
  background: linear-gradient(to bottom right, rgba(68, 138, 255, 0.5), rgba(68, 138, 255, 0.2), white);
  border-radius: 20px 0 0 5px;
  overflow: hidden;
}
.comments .posted-comments .main-comment .comment .comment-info .usefulness > div {
  max-width: 40px;
  margin: 1vw auto;
  cursor: pointer;
}
.comments .posted-comments .main-comment .comment .comment-info .see-comment .commenter-name a::before {
  content: "";
  display: block;
  background-image: url("../image/study.png");
  background-size: contain;
  width: 22px;
  height: 22px;
  float: left;
  margin-right: 10px;
}
.comments .posted-comments .main-comment .comment .comment-info .see-comment .commenter-name a:hover {
  color: #448aff;
}
.comments .posted-comments .main-comment .comment .comment-info .see-comment p {
  padding-left: 3vw;
  padding-right: 3vw;
  font-family: "Josefin", sans-serif;
  font-style: italic;
}
.comments .posted-comments .main-comment .comment .reply-to {
  position: absolute;
  right: 20px;
  bottom: -10px;
  border-radius: 10px;
  transition-duration: 0.3s;
  font-size: 13px;
  letter-spacing: -1px;
  word-spacing: 1px;
  background-color: #fff;
  padding: 0 10px;
  border: 1px dashed grey;
  cursor: pointer;
}
.comments .posted-comments .main-comment .comment .reply-to:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}
.comments .posted-comments .main-comment .sub-comment {
  margin-left: 5vw;
}

/*# sourceMappingURL=blog-main.css.map */
