@import "../box-shadow";



$img-base-folder: "../image/";



@mixin header-color($color, $shadow:false) {
  
  @if $color == "color1" {
    background-color: rgba(71, 255, 16, 0.65);
    @if $shadow == true {
      box-shadow: 0px 0px 6px rgba(71, 255, 16, 0.8);
    }
  }
  
  @else if $color == "color2" {
    background-color: rgba(255, 0, 253, 0.65);
    @if $shadow == true {
      box-shadow: 0px 0px 6px rgba(255, 0, 253, 0.8);
    }
  }
  
  @else if $color == "color3" {
    background-color: rgba(165, 0, 211, 0.65);
    @if $shadow == true {
      box-shadow: 0px 0px 6px rgba(165, 0, 211, 0.8);
    }
  }
  
  @else if $color == "color4" {
    background-color: rgba(0, 210, 213, 0.65);
    @if $shadow == true {
      box-shadow: 0px 0px 6px rgba(0, 210, 213, 0.8);
    }
  }
  
  @else {
    @if $shadow == true {
      box-shadow: 0px 0px 6px rgba(0, 210, 213, 0.8);
    }
  }
  
}



@mixin addBackgroundImage($img-name) {
    
  &::after {
    content: "";
    background-image: url($img-base-folder + $img-name);
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: cover;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    padding-left: 15px;
    padding-right: 15px;
    
  }
  
}



@mixin section-heading() {
  position: relative;
  padding: 5px 10px;
  margin-bottom: 20px;
  text-shadow:0px 0px 5px #fff;
  
  h6 {
    font-weight: 800;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-shadow:0px 0px 5px #fff, 0px 0px 10px rgba(0, 0, 0, 0.5);
    
  }
  
  a {
    position: absolute;
    right: 20px;
    top: 15%;
    color: #fff;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    padding: 5px 10px;
    
    &:hover {
      text-decoration: underline;
      background-color: #ff4081;
    }
    
    &::after {
      content: "";
      background: url("../image/finger-of-a-hand-pointing-to-right-direction.png") no-repeat;
      float: right;
      cursor: pointer;
      width: 20px;
      height: 20px;
      padding-bottom: 2px;
      background-size: contain;
      margin-left: 7px;
      background-origin: content-box;
      background-position: left;
      
    }
  
  }
  
}













.blog-category {
  
  .heading {
    @include section-heading;
    @include header-color("color2", true);
    margin-left: -15px;
    margin-right: -15px;
    
  }

  .category {
    overflow: hidden;
    height: 80px;
    position: relative;
    margin-bottom: 30px;
    
    a {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-right: 30px;
      height: 45%;
      
      h6 {
        text-align: center;
        color: #fff;
        background: linear-gradient(to top, rgba(0, 183, 255, 0.5),  rgba(242,113,242,0.1));
        margin: 0;
        padding-top: 10px;
        height: 100%;
        text-shadow: 0px 0px 5px #0a88ff, 0px 0px 10px #fff;
        
        &:hover {
          font-weight: bold;
          font-size: 18px;
        }
        
      }
      
    }
    
  }
  
  #c1 {
    @include addBackgroundImage("blog1.jpeg");
  }
  
  #c2 {
    @include addBackgroundImage("blog2.jpeg");
  }
  
  #c3 {
    @include addBackgroundImage("blog3.jpeg");
  }
  
  #c4 {
    @include addBackgroundImage("blog1.jpeg");
  }
  
  #c5 {
    @include addBackgroundImage("blog2.jpeg");
  }
  
  #c6 {
    @include addBackgroundImage("blog3.jpeg");
  }
  
  #c7 {
    @include addBackgroundImage("blog1.jpeg");
  }
  
  #c8 {
    @include addBackgroundImage("blog2.jpeg");
  }
  
}







.todays-feed {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: -1.5vw;
  margin-right: -1.5vw;
  padding: 5px 30px;
  @include box-shadow("z-depth-3", 0, 210, 213);
  
  .heading {
    @include section-heading;
    @include header-color("color4");
    margin: 30px 4vw 40px;
    
  }
  
  .main-feed {
    position: relative;
    
    img {
      max-height: 460px;
    }
    
    .desc {
      position: absolute;
      padding: 20px;
      bottom: -125px;
      margin: 0 8%;
      background-color: rgba(255,255,255,0.9);
      width: 84%;
      @include box-shadow("z-depth-1");
      
      h4 {
        text-align: center;
        margin-top: 0;
        text-overflow: ellipsis;
        white-space: nowrap; 
        overflow: hidden;
        margin-bottom: 30px;
        color: #000;
      }
      
      .intro {
        
        p {
          height: 80px;
          overflow: hidden;
          font-size: 14px;
          padding-right: 3vw;
        }
      }
      
      .tools {
        position: absolute;
        bottom: -20px;;
        right: 30px;
        
        div {
          cursor: pointer;
          width: 50px;
          height: 50px;
          padding: 10px;          
          border-radius: 50%;
          @include box-shadow("z-depth-1");
          background-color: #fff;
        }
      }
    }
  }
  
  .other-feed {
    position: relative;
    margin-bottom: 40px;
    
    &:hover img.feed-img {
      opacity: 0.9;
      @include box-shadow("z-depth-2");
    }
    
    &:last-child {
      margin-bottom: 20px;
    }
    
    img {
      max-height: 180px;
      display: block;
      margin: auto;
    }
    
    a {
      position: absolute;
      bottom: 0;
      margin: 0;
      background: linear-gradient(to right, rgba(68,138,255,0.8), rgba(242,113,242,0.6));
      width: 100%;
      font-size: 20px;
      color: #fff;
      text-align: center;
      padding: 5px;
      transition-duration: 0.2s;
      max-height: 65px;
      overflow: hidden;
      
      &:hover {
        padding: 10px 5px;
        max-height: 73px;
      }
    }
    
    .tools {
      position: absolute;
      top: -15px;;
      right: 50px;
      
      div {
        cursor: pointer;
        width: 40px;
        height: 40px;
        padding: 8px;          
        border-radius: 50%;
        @include box-shadow("z-depth-1");
        background-color: #fff;
      }
    }
  }
  
}


#top-feed {
  margin-bottom: 100px;
  
  .heading {
    @include section-heading;
    @include header-color("color1", true);
  }
  
  .feed {
    position: relative;
    overflow: hidden;
//    background-color: rgba(71, 255, 16, 0.05);
    @include box-shadow("z-depth-2", 71, 255, 16);
    
    .upper-section {
      line-height: 0;
      padding-top: 10px;
      
      img.feed-img {
        height: 200px;
        margin: auto;
        display: block;
      }
      
      p {
        position: absolute;
        padding: 10px;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        line-height: 1.5;
        max-height: 170px;
        overflow: hidden;
        text-align: justify;
        z-index: 0;
        opacity: 0;
        background-color: rgba(255,255,255,0.5);
      }
      
      .tools {
        position: absolute;
        top: 180px;;
        right: 20px;
        
        div {
          cursor: pointer;
          width: 40px;
          height: 40px;
          padding: 8px;          
          border-radius: 50%;
          @include box-shadow("z-depth-1");
          background-color: #fff;
        }
      }
    }
    
    &:hover p {
      transform: translateY(-200px);
      opacity: 1;
    }
    
    a {
      font-size: 20px;
      color: #000;
      display: block;
      margin: auto;
      text-align: center;
      z-index: 10;
      padding: 10px;
    }
  }
}