$font-josefin: 'Josefin', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$margin-right-default: 10px;

@import "../box-shadow";
@import "../selectors";

resizeable {
  &:empty:not(:focus)::before {
    content:attr(data-text);
    color: grey;
  }
  
  &:not(:empty) {
    box-shadow: 1px 1px 5px rgba(68, 138, 255, 0.3);
  }
}

html {
  font-family: $font-poppins !important;
  margin-top: 20vw;
  margin-bottom: 100px;
}

.border-right-solid {
  border-right: 1px solid #379fff;
  padding: 5px 2vw;
  margin-right: 2vw;
}

.float-right {
  float: right;
}

.top-decorator {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #448aff;
  height: 30vw;
  width: 100%;
  z-index: -10;
}

.blog {
  @include box-shadow(z-depth-5, 88, 158, 255);
  
  padding: 20px 0;
  z-index: 10;
  background-color: #ffffff;

.blog-description {
  
  h1 {
    padding: 0 20px;
    
  }
  
  .tags {
    padding: 30px 50px 0;
    text-align: center;
    
    .tag {
      border-radius: 10px;
      background-color: rgba(68, 48, 255, 1);
      padding: 5px 10px;
      margin: 0 10px;
      color: white;
    }
    
  }
  
  .meta-info {
    font-family: $font-josefin;
    font-size: 18px;
    padding: 2vw 5vw 1vw;
        
    h6 {
      display: inline-block;
    }
    
    .author-name a {
      line-height: 30px;
      padding-left: 10px;
      
    }
    
    .author-name {
      @include img-before-selector("study.png", 30px, 30px, 6px);
    }
    
    .posted-on {
      @include img-before-selector("calendar.png", 20px, 20px, 6px);
    }
    
    .views {
      @include img-before-selector("eye.png", 20px, 20px, 6px);
    }

  }
  
}

#content {
  
.post-pic {
  margin-bottom: 50px;
}
  
  .article {
    padding: 0 5vw;
    
    h2, h3 {
      font-family: $font-josefin;
    }
    
    .layer {
      margin: 5vw;
      padding: 1vw;
      
      
      &.img-half {
        width: 50%;
        display: inline-block;
        
      }
      
      img {
        @include box-shadow(z-depth-4);
        
      }
      
    }
    
  }
}
  
  .author {
    width: 70%;
    margin: 200px auto 50px;
    border-radius: 10px;
    background-color: rgba(68, 138, 255, 0.05);
    padding: 2vw 5vw;
    display: flex;
    
    .profile {
      display: inline-block;
      
      .p-image {
        width: 60%;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
        
      }
      
      .meta-info {
        text-align: center;
        
        .t-articles {
          display: inline-block;
          @include img-before-selector("study.png", 20px, 20px);
          
        }
        
        .t-views {
          display: inline-block;
          @include img-before-selector("eye.png", 20px, 20px);
          
        }
        
      }
      
    }
      
    .info {
      text-align: center;
      
      .name h5 {
        text-decoration: underline;
      }
      
      .my-details {
        font-family: $font-josefin;
      }
      
    }
    
  }

  
}

.comments {
  margin-top: 100px;
  
  .my-comment {
    border: 1px dashed black;
    border-left: none;
    border-right: none;
    padding: 20px;
    
    &:focus {
      background-color: red;
      
    }
    
    
    & #text-area {
      border-radius: 10px;
      padding: 10px;
      resize: none;
      min-height: 80px;
      @extend resizeable;
            
      &:focus {
        outline: none;
        box-shadow: 1px 1px 5px rgba(68, 138, 255, 0.3);
        
      }
      
    }
    
    button {
      display: none;
      float: right;
      
      
    }  
    
  }
  
  .posted-comments {
    margin-left: 5vw;
    
    .main-comment {
      margin: 50px auto 100px;
      
      .comment {
        @include box-shadow(z-depth-2);
        position: relative;
        margin-top: 30px;
        border-radius: 20px 5px 20px 5px;
        
        .comment-info {
          margin: 0;
          
          .usefulness {
            color: azure;
            background: linear-gradient(to bottom right, rgba(68, 138, 255, 0.5), rgba(68, 138, 255, 0.2), white);
            border-radius: 20px 0 0 5px;
            overflow: hidden;
            
            & > div {
              max-width: 40px;
              margin: 1vw auto;
              cursor: pointer;
              
            }
            
          }
          
          .see-comment {
            
            .commenter-name {
              
              a {
                @include img-before-selector("study.png", 22px, 22px);
                
                &:hover {
                  color: #448aff;
                }
                
              }
              
            }
            
            p {
              padding-left: 3vw;
              padding-right: 3vw;
              font-family: $font-josefin;
              font-style: italic;
              
            }
            
          }
          
        }
        
        .reply-to {
          position: absolute;
          right: 20px;
          bottom: -10px;
          border-radius: 10px;
          transition-duration: .3s;
          font-size: 13px;
          letter-spacing: -1px;
          word-spacing: 1px;
          background-color: #fff;
          padding: 0 10px;
          border: 1px dashed grey;
          cursor: pointer;
          
          &:hover {
            @include box-shadow(z-depth-1);
            transform: translateY(-1px);
            
          }
          
        }
        
      }
      
      .sub-comment {
        margin-left: 5vw;
      }
      
    }
    
  }
  
}