footer
    .container
        .content
            .row
                .col-12.col-md-3
                    a.brand(href='/')
                        img.responsive-img(src='images/brand/w.png', alt='')

                    .description.fsec
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                    .title._m Quick Links
                    .qlinks.fsec
                        a(href="#!") Blog
                        a(href="#!") About
                        a(href="#!") Contact
                        a(href="#!") Careers
                        a(href="#!") Partners
                
                .col-12.col-md-3
                    .title Deals Categories
                    ul.cat.fsec
                        li
                            a(href='#!', data-badge='2') Beauty
                        li
                            a(href='#!', data-badge='4') Education
                        li
                            a(href='#!', data-badge='5') Electronics
                        li
                            a(href='#!', data-badge='1') Events
                        li
                            a(href='#!', data-badge='3') Fashion
                        li
                            a(href='#!', data-badge='9') Fitness
                        li
                            a(href='#!', data-badge='12') Food &amp; Drink
                        li
                            a(href='#!', data-badge='11') Furniture
                        li
                            a(href='#!', data-badge='21') Home &amp; Garden
                        li
                            a(href='#!', data-badge='41') Services
                        li
                            a(href='#!', data-badge='91') Shopping
                        li
                            a(href='#!', data-badge='17') Travel
                
                .col-12.col-md-3
                    .title Twitter

                .col-12.col-md-3
                    .title Follow us

                    .social.fsec
                        a.fab.fa-facebook(href='#!')
                        a.fab.fa-twitter(href='#!')
                        a.fab.fa-instagram(href='#!')
                        a.fab.fa-youtube(href='#!')

                    .title._m Newsletter    
                    .description.fsec Sign up for latest news, important updates and special offers. We won&apos;t spam!
                    p
                        button.btn.waves-effect Subscribe 

            .row
                .col-12.copyright
                    | &copy; 2018 Citizapper. All rights reserved.