extends layout

block content
    section
        include sections/topRow
        
    section
        include sections/latestDeals

    section
        include sections/posters

    section
        include sections/latestNews
        