<!DOCTYPE html>
<html class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers" lang="EN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Citizapper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600">
  <link rel="stylesheet" href="../asset/css/main.css">
  <link rel="stylesheet" href="../asset/css/blogs-main.css">
</head>

<body style="margin-top: 100px;">

  <div>
    <main>

      <div class="blog-category">
        <div class="heading">
          <h6>All Categories</h6>
          <a href="">See All</a>
        </div>

        <div class="row">
          <div id="c1" class="category col-3">
            <a href="">
              <h6>Beauty</h6>
            </a>
          </div>
          <div id="c2" class="category col-3">
            <a href="">
              <h6>Travel</h6>
            </a>
          </div>
          <div id="c3" class="category col-3">
            <a href="">
              <h6>Fashion</h6>
            </a>
          </div>
          <div id="c4" class="category col-3">
            <a href="">
              <h6>Furniture</h6>
            </a>
          </div>
          <div id="c5" class="category col-3">
            <a href="">
              <h6>Shopping</h6>
            </a>
          </div>
          <div id="c6" class="category col-3">
            <a href="">
              <h6>Fitness</h6>
            </a>
          </div>
          <div id="c7" class="category col-3">
            <a href="">
              <h6>Home</h6>
            </a>
          </div>
          <div id="c8" class="category col-3">
            <a href="">
              <h6>Electronics</h6>
            </a>
          </div>
        </div>
      </div>
    </main>
    <main>
      <div class="todays-feed">
        <div class="heading">
          <h6>Today's Feed</h6>
          <a href="">See All</a>
        </div>

        <div class="row">
          <div class="col-8">
            <div class="main-feed">
              <img class="responsive-img" src="../asset/image/blog1.jpeg" alt="Today's top feed">
              <div class="desc">
                <a href="">
                  <h4>Citizapper: Why choose us?</h4>
                </a>
                <div class="intro">
                  <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
                  <div class="tools">
                    <div>
                      <img class="responsive-img" src="../asset/image/share.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="other-feed">
              <img class="responsive-img feed-img" src="../asset/image/blog1.jpeg" alt="Today's top feed">
              <a href="">Citizapper: Why choose us?</a>
              <div class="tools">
                <div>
                  <img class="responsive-img" src="../asset/image/share.png" alt="">
                </div>
              </div>
            </div>
            <div class="other-feed">
              <img class="responsive-img feed-img" src="../asset/image/blog1.jpeg" alt="Today's top feed">
              <a href="">Citizapper: Why choose us?Citizapper: Why choose us?Citizapper: Why choose us?</a>
              <div class="tools">
                <div>
                  <img class="responsive-img" src="../asset/image/share.png" alt="">
                </div>
              </div>
            </div>
            <div class="other-feed">
              <img class="responsive-img feed-img" src="../asset/image/blog1.jpeg" alt="Today's top feed">
              <a href="">Citizapper: Why choose us?</a>
              <div class="tools">
                <div>
                  <img class="responsive-img" src="../asset/image/share.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    
    <div class="container-fluid">
      <div id="top-feed">
        <div class="heading">
          <h6>Top Feed</h6>
          <a href="">Stay on top</a>
        </div>
        <div class="row">
          <div class="col-4 col-md-3 col-xl-2">
            <div class="feed">
             <div class="upper-section">
               <img class="feed-img" src="../asset/image/blog3.jpeg" alt="">
               <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años. Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
               <div class="tools">
                 <div>
                  <img class="responsive-img" src="../asset/image/share.png" alt="">
                </div>
               </div>
             </div>
              <a href="">Citizapper: Why choose us?</a>
            </div>
          </div>
          <div class="col-4 col-md-3 col-xl-2">
            <div class="feed">
             <div class="upper-section">
               <img class="feed-img" src="../asset/image/blog3.jpeg" alt="">
               <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años. Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
               <div class="tools">
                 <div>
                  <img class="responsive-img" src="../asset/image/share.png" alt="">
                </div>
               </div>
             </div>
              <a href="">Citizapper: Why choose us? Citizapper: Why choose us?</a>
            </div>
          </div>
          <div class="col-4 col-md-3 col-xl-2">
            <div class="feed">
             <div class="upper-section">
               <img class="feed-img" src="../asset/image/blog3.jpeg" alt="">
               <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años. Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
               <div class="tools">
                 <div>
                  <img class="responsive-img" src="../asset/image/share.png" alt="">
                </div>
               </div>
             </div>
              <a href="">Citizapper: Why choose us?</a>
            </div>
          </div>
          <div class="col-4 col-md-3 col-xl-2">
            <div class="feed">
             <div class="upper-section">
               <img class="feed-img" src="../asset/image/blog3.jpeg" alt="">
               <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años. Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
               <div class="tools">
                 <div>
                  <img class="responsive-img" src="../asset/image/share.png" alt="">
                </div>
               </div>
             </div>
              <a href="">Citizapper: Why choose us?</a>
            </div>
          </div>
          <div class="col-4 col-md-3 col-xl-2">
            <div class="feed">
             <div class="upper-section">
               <img class="feed-img" src="../asset/image/blog3.jpeg" alt="">
               <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años. Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
               <div class="tools">
                 <div>
                  <img class="responsive-img" src="../asset/image/share.png" alt="">
                </div>
               </div>
             </div>
              <a href="">Citizapper: Why choose us?</a>
            </div>
          </div>
          <div class="col-4 col-md-3 col-xl-2">
            <div class="feed">
             <div class="upper-section">
               <img class="feed-img" src="../asset/image/blog3.jpeg" alt="">
               <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años. Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
               <div class="tools">
                 <div>
                  <img class="responsive-img" src="../asset/image/share.png" alt="">
                </div>
               </div>
             </div>
              <a href="">Citizapper: Why choose us?</a>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </div>
  
  <script src="../../public/javascripts/vendor/modernizr-3.6.0.min.js" async></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="<sha25></sha25>FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js" async></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\\/script>');
  </script>

  <script>
    var feeds = document.getElementsByClassName("other-feed");
    for (let feed of feeds) {
      var feedWidth = window.getComputedStyle(feed).width;
      var children = feed.children;

      children[1].style.width = children[0].width + "px";
      children[1].style.marginLeft = (feedWidth.substr(0, feedWidth.length - 2) - children[0].width) / 2 + "px";
    }
  </script>
  
  <script>
  
    var topFeeds = document.getElementById("top-feed").getElementsByClassName("upper-section");
    for(var feed of topFeeds) {
      var feedStyle = window.getComputedStyle(feed);
      var imgStyle = window.getComputedStyle(feed.children[0]);
      var pStyle = feed.children[1].style;
      console.log(imgStyle.marginLeft);
      if(feedStyle.width > imgStyle.width) {
        pStyle.width = imgStyle.width;        
      }
      pStyle.left = imgStyle.marginLeft
    }
    
  </script>

</body>

</html>
