<!DOCTYPE html>
<html class="no-js" lang="EN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Citizapper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600">
  <link rel="stylesheet" href="../asset/css/main.css">
  <link rel="stylesheet" href="../asset/css/blog-main.css">
</head>

<body>
  
  <div class="container">
    <div class="blog">
      <div class="blog-description">
        <h1 class="heading-lg">Citizapper: Why choose us?</h1>
        <div class="tags">
          <a href="" class="tag">Technology</a>
          <a href="" class="tag">Technology</a>
        </div>
        <p class="meta-info">
          <span class="posted-on"> 20 July, 2018</span>
          <span class="author"> Citizapper </span>
          <span class="views">1021</span>
        </p>
      </div>
      <div id="content">
        <div class="post-pic"><img src="" alt=""></div>
        <article class="article">
          <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
          <p>Ahora vivo en Puerto Vallarta con mi esposa. Su nombre es Rachel. No tenemos hijos. Soy un maestro de ingles y un persona de libre dedicación. Estudié producción de video en la universidad. Antes vivía en China e Indonesia por seis años. Me gusta la música, viajar, y los deportes. Quiero estudiar español y quiero ayudarte a hacer lo mismo!</p>
          <p>Mi nombre es(2) Aubrey. Yo soy de Atlanta, GA y yo vivo in Hampton, GA. Tengo veinteicuatro(3) años. ¡Mucho Gusto! Espero que sea(4) bien. Estoy contento con mi vida aqui en Los Estados Unidos(5). Trabajo cómo(6) un cajero(7). Y También escribo los libros fantsáticos(8) y artículos(9) para HubPages.com. Soy listo, chistoso, y simpático. Me gusta leer libros y escribir. Quiero llegar a ser un escritor de los libros. Quiero escribir para siempre(10). ¿Y usted? ¿Qué the gusta hacer? ¿Qué quieres llegar a ser?¿Cómo eres?(11) Lol, lo siento. Cuando era un niño, prenguntaba(12) muchas preguntas. Quiero conocerte(12). ¡Preguntame algo! ¡Adiós!</p>
          <h3>Look yourself</h3>
          <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
          <p><img src="" alt="picture"></p>
          <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
          <p>Ahora vivo en Puerto Vallarta con mi esposa. Su nombre es Rachel. No tenemos hijos. Soy un maestro de ingles y un persona de libre dedicación. Estudié producción de video en la universidad. Antes vivía en China e Indonesia por seis años. Me gusta la música, viajar, y los deportes. Quiero estudiar español y quiero ayudarte a hacer lo mismo!</p>
          <h3>It's User Friendly</h3>
          <p><img src="" alt="picture"></p>
          <p>Ahora vivo en Puerto Vallarta con mi esposa. Su nombre es Rachel. No tenemos hijos. Soy un maestro de ingles y un persona de libre dedicación. Estudié producción de video en la universidad. Antes vivía en China e Indonesia por seis años. Me gusta la música, viajar, y los deportes. Quiero estudiar español y quiero ayudarte a hacer lo mismo!</p>
        </article>
      </div>
    </div>
  </div>
  
  <script src="/javascripts/vendor/modernizr-3.6.0.min.js" async></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js" async></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\\/script>');
  </script>
  <script src="../js/main.js"></script>

</body>

</html>
