<!DOCTYPE html>
<html class="no-js" lang="EN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Citizapper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600">
  <link rel="stylesheet" href="../asset/css/main.css">
  <link rel="stylesheet" href="../asset/css/blogs-main.css">
</head>

<body style="margin-top: 100px;">

  <div class="container">
    
    <div class="blog-category">
      <div class="heading">
        <h6>All Categories</h6>
        <a href="">See All</a>
      </div>
      
      <div class="row">
        <div id="c1" class="category col-3">
          <a href="">
            <h6>Beauty</h6>
          </a>
        </div>
        <div id="c2" class="category col-3">
          <a href="">
            <h6>Travel</h6>
          </a>
        </div>
        <div id="c3" class="category col-3">
          <a href="">
            <h6>Fashion</h6>
          </a>
        </div>
        <div id="c4" class="category col-3">
          <a href="">
            <h6>Furniture</h6>
          </a>
        </div>
        <div id="c5" class="category col-3">
          <a href="">
            <h6>Shopping</h6>
          </a>
        </div>
        <div id="c6" class="category col-3">
          <a href="">
            <h6>Fitness</h6>
          </a>
        </div>
        <div id="c7" class="category col-3">
          <a href="">
            <h6>Home</h6>
          </a>
        </div>
        <div id="c8" class="category col-3">
          <a href="">
            <h6>Electronics</h6>
          </a>
        </div>
      </div>
    </div>
    
    <div class="todays-feed">
      <div class="heading">
        <h6>Today's Feed</h6>
        <a href="">See All</a>
      </div>
      
      <div class="row">
        <div class="col-8">
          <div id="c1" class="category">
          <a href="">
            <h6>Beauty</h6>
          </a>
        </div>
        </div>
        <div class="col-4">
          <div id="c3" class="category">
          <a href="">
            <h6>Beauty</h6>
          </a>
        </div>
        </div>
      </div>
    </div>
    
  </div>

  <script src="../../public/javascripts/vendor/modernizr-3.6.0.min.js" async></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js" async></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\\/script>');
  </script>

</body>

</html>
