<!DOCTYPE html>
<html class="no-js" lang="EN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Citizapper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600">
  <link rel="stylesheet" href="../asset/css/main.css">
  <link rel="stylesheet" href="../asset/css/blog-main.css">
</head>

<body>

  <div class="container">
    <div class="top-decorator"></div>
    <div class="blog">
      <div class="blog-description container">
        <h1 class="heading-lg">Citizapper: Why choose us?</h1>
        <div class="tags">
          <a href="" class="tag">Technology</a>
          <a href="" class="tag">Technology</a>
        </div>
        <div class="meta-info">
          <h6 class="author-name"><a href="">Citizapper</a></h6>
          <div class="float-right">
            <h6 class="posted-on border-right-solid"> 20 July, 2018</h6>
            <h6 class="views">1021</h6>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="post-pic"><img src="../asset/image/blog3.jpeg" alt=""></div>
        <article class="article">
          <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
          <p>Ahora vivo en Puerto Vallarta con mi esposa. Su nombre es Rachel. No tenemos hijos. Soy un maestro de ingles y un persona de libre dedicación. Estudié producción de video en la universidad. Antes vivía en China e Indonesia por seis años. Me gusta la música, viajar, y los deportes. Quiero estudiar español y quiero ayudarte a hacer lo mismo!</p>
          <p>Mi nombre es(2) Aubrey. Yo soy de Atlanta, GA y yo vivo in Hampton, GA. Tengo veinteicuatro(3) años. ¡Mucho Gusto! Espero que sea(4) bien. Estoy contento con mi vida aqui en Los Estados Unidos(5). Trabajo cómo(6) un cajero(7). Y También escribo los libros fantsáticos(8) y artículos(9) para HubPages.com. Soy listo, chistoso, y simpático. Me gusta leer libros y escribir. Quiero llegar a ser un escritor de los libros. Quiero escribir para siempre(10). ¿Y usted? ¿Qué the gusta hacer? ¿Qué quieres llegar a ser?¿Cómo eres?(11) Lol, lo siento. Cuando era un niño, prenguntaba(12) muchas preguntas. Quiero conocerte(12). ¡Preguntame algo! ¡Adiós!</p>
          <h3>Look yourself</h3>
          <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
          <div class="layer"><img src="../asset/image/blog1.jpeg" alt="picture" /></div>
          <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Estados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
          <p>Ahora vivo en Puerto Vallarta con mi esposa. Su nombre es Rachel. No tenemos hijos. Soy un maestro de ingles y un persona de libre dedicación. Estudié producción de video en la universidad. Antes vivía en China e Indonesia por seis años. Me gusta la música, viajar, y los deportes. Quiero estudiar español y quiero ayudarte a hacer lo mismo!</p>
          <h3>It's User Friendly</h3>
          <div class="layer img-half"><img src="../asset/image/blog2.jpeg" alt="picture" /></div>
          <p>Ahora vivo ivnombre es Rachel. No tenemos hijos. Soy un maestro de ingles y un persona de libre dedicación. Estudié producción de video en la universidad. Antes vivía en China e Indonesia por seis años. Me gusta la música, viajar, y los deportes. Quiero estudiar español y quiero ayudarte a hacer lo mismo!</p>
        </article>
      </div>
      <div class="author">
        <div class="row">
          <div class="profile col-md-5 col-12">
            <div class="p-image">
              <img src="../asset/image/study.png" alt="">
            </div>
            <div class="meta-info">
              <ul>
                <li>
                  <div class="t-articles">51 articles</div>
                </li>
                <li>
                  <div class="t-views">1021 total views</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="info col-md-7 col-12">
            <div class="name">
              <h5>Citizapper </h5>
            </div>
            <div class="my-details">
              <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Emedstados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comments">
      <div class="my-comment">
        <div contenteditable="true" data-text="WRITE YOUR COMMENT" id="text-area"></div>
          <button class="btn" id="post-button">Post Comment</button>
      </div>
      <div id="posted-comments">
        <div id="c-1" class="main-comment">

          <div class="draw-line"></div>
          <div class="comment">

            <div class="comment-info row">
              <div class="usefulness col-2">
                <div class="like" title="like"><img src="../asset/image/thumb-up-button.png" alt=""></div>
                <div class="dislike" title="dislike"><img src="../asset/image/thumb-down-button.png" alt=""></div>
              </div>
              <div class="see-comment col-10">
                <div class="commenter-name">
                  <a href="">
                    <h6>Johansan Thomes</h6>
                  </a>
                </div>
                <p>Great Work c-1</p>
              </div>
            </div>
            <div class="reply-to">Reply to Johansan Thomes</div>
          </div>

          <div id="c-1-1" class="sub-comment">
            <div class="draw-line"></div>
            <div class="comment">

              <div class="comment-info row">
                <div class="usefulness col-2">
                  <div class="like" title="like"><img src="../asset/image/thumb-up-button.png" alt=""></div>
                  <div class="dislike" title="dislike"><img src="../asset/image/thumb-down-button.png" alt=""></div>
                </div>
                <div class="see-comment col-10">
                  <div class="commenter-name">
                    <a href="">
                      <h6>Johansan Thomes</h6>
                    </a>
                  </div>
                  <p>Great Work c-1</p>
                </div>
              </div>
              <div class="reply-to">Reply to Johansan Thomes</div>
            </div>

            <div id="c-1-1-1" class="sub-comment">
              <div class="draw-line"></div>
              <div class="comment">

                <div class="comment-info row">
                  <div class="usefulness col-2">
                    <div class="like" title="like"><img src="../asset/image/thumb-up-button.png" alt=""></div>
                    <div class="dislike" title="dislike"><img src="../asset/image/thumb-down-button.png" alt=""></div>
                  </div>
                  <div class="see-comment col-10">
                    <div class="commenter-name">
                      <a href="">
                        <h6>Johansan Thomes</h6>
                      </a>
                    </div>
                    <p>Great Work c-1</p>
                  </div>
                </div>
                <div class="reply-to">Reply to Johansan Thomes</div>
              </div>
            </div>

            <div id="c-1-1-2" class="sub-comment">
              <div class="draw-line"></div>
              <div class="comment">

                <div class="comment-info row">
                  <div class="usefulness col-2">
                    <div class="like" title="like"><img src="../asset/image/thumb-up-button.png" alt=""></div>
                    <div class="dislike" title="dislike"><img src="../asset/image/thumb-down-button.png" alt=""></div>
                  </div>
                  <div class="see-comment col-10">
                    <div class="commenter-name">
                      <a href="">
                        <h6>Johansan Thomes</h6>
                      </a>
                    </div>
                    <p>Great Work c-1</p>
                  </div>
                </div>
                <div class="reply-to">Reply to Johansan Thomes</div>
              </div>
            </div>

          </div>

          <div id="c-1-2" class="sub-comment">
            <div class="draw-line"></div>
            <div class="comment">

              <div class="comment-info row">
                <div class="usefulness col-2">
                  <div class="like" title="like"><img src="../asset/image/thumb-up-button.png" alt=""></div>
                  <div class="dislike" title="dislike"><img src="../asset/image/thumb-down-button.png" alt=""></div>
                </div>
                <div class="see-comment col-10">
                  <div class="commenter-name">
                    <a href="">
                      <h6>Johansan Thomes</h6>
                    </a>
                  </div>
                  <p>Great Work c-1</p>
                </div>
              </div>
              <div class="reply-to">Reply to Johansan Thomes</div>
            </div>
          </div>

        </div>

        <div id="c-2" class="main-comment">

          <div class="draw-line"></div>
          <div class="comment">

            <div class="comment-info row">
              <div class="usefulness col-2">
                <div class="like" title="like"><img src="../asset/image/thumb-up-button.png" alt=""></div>
                <div class="dislike" title="dislike"><img src="../asset/image/thumb-down-button.png" alt=""></div>
              </div>
              <div class="see-comment col-10">
                <div class="commenter-name">
                  <a href="">
                    <h6>Johansan Thomes</h6>
                  </a>
                </div>
                <p>Great Work c-1</p>
              </div>
            </div>
            <div class="reply-to">Reply to Johansan Thomes</div>
          </div>

          <div id="c-2-1" class="sub-comment">
            <div class="draw-line"></div>
            <div class="comment">

              <div class="comment-info row">
                <div class="usefulness col-2">
                  <div class="like" title="like"><img src="../asset/image/thumb-up-button.png" alt=""></div>
                  <div class="dislike" title="dislike"><img src="../asset/image/thumb-down-button.png" alt=""></div>
                </div>
                <div class="see-comment col-10">
                  <div class="commenter-name">
                    <a href="">
                      <h6>Johansan Thomes</h6>
                    </a>
                  </div>
                  <p>Great Work c-1</p>
                </div>
              </div>
              <div class="reply-to">Reply to Johansan Thomes</div>
            </div>

            <div id="c-2-1-1" class="sub-comment">
              <div class="draw-line"></div>
              <div class="comment">

                <div class="comment-info row">
                  <div class="usefulness col-2">
                    <div class="like" title="like"><img src="../asset/image/thumb-up-button.png" alt=""></div>
                    <div class="dislike" title="dislike"><img src="../asset/image/thumb-down-button.png" alt=""></div>
                  </div>
                  <div class="see-comment col-10">
                    <div class="commenter-name">
                      <a href="">
                        <h6>Johansan Thomes</h6>
                      </a>
                    </div>
                    <p>Great Work c-1</p>
                  </div>
                </div>
                <div class="reply-to">Reply to Johansan Thomes</div>
              </div>
              
              <div id="c-2-1-1-1" class="sub-comment">
                <div class="draw-line"></div>
                <div class="comment">

                <div class="comment-info row">
                  <div class="usefulness col-2">
                    <div class="like" title="like"><img src="../asset/image/thumb-up-button.png" alt=""></div>
                    <div class="dislike" title="dislike"><img src="../asset/image/thumb-down-button.png" alt=""></div>
                  </div>
                  <div class="see-comment col-10">
                    <div class="commenter-name">
                      <a href="">
                        <h6>Johansan Thomes</h6>
                      </a>
                    </div>
                    <p>Great Work c-1</p>
                  </div>
                </div>
                <div class="reply-to">Reply to Johansan Thomes</div>
              </div>
              </div>

            </div>

          </div>

          <div id="c-2-2" class="sub-comment">
            <div class="draw-line"></div>
            <div class="comment">

              <div class="comment-info row">
                <div class="usefulness col-2">
                  <div class="like" title="like"><img src="../asset/image/thumb-up-button.png" alt=""></div>
                  <div class="dislike" title="dislike"><img src="../asset/image/thumb-down-button.png" alt=""></div>
                </div>
                <div class="see-comment col-10">
                  <div class="commenter-name">
                    <a href="">
                      <h6>Johansan Thomes</h6>
                    </a>
                  </div>
                  <p>Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Emedstados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.Hola! Me nombre es Alejandro, pero todos me llaman Sasha. Soy de los Emedstados Unidos. Mi familia vive en Michigan. Mi papá es un doctor y mi mamá es una enfermera. Tengo cuatro hermanos y dos hermanas. Mi familia es muy grande! Soy el mas viejo. Tengo treinta y uno años.</p>
                </div>
              </div>
              <div class="reply-to">Reply to Johansan Thomes</div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <script src="../../public/javascripts/vendor/modernizr-3.6.0.min.js" async></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js" async></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\\/script>');
  </script>
  
  <script>
    var postButton = document.getElementById("post-button");
    var textArea = document.getElementById("text-area");
    textArea.addEventListener("blur", (e) => {
      var innerValue = e.target.innerText;
      if(innerValue.trim() === "") {
        e.target.innerText = "";
        console.log("whwe");
        postButton.style.display = "none";
        e.target.style.marginBottom = "0px";
      }
    });
    textArea.addEventListener("keyup", (e) => {
      var innerValue = e.target.innerText;
      if(innerValue.trim() !== "") {
        postButton.disabled = false;
        postButton.style.display = "block";
        e.target.style.marginBottom = "45px";
      } else {
        postButton.disabled = true;
      }
    });
  </script>
  
  <script>
    $(window).ready(()=>{
      drawLines();
    });
    $(window).resize(()=>{
      drawLines();
    });
    
    function drawLines() {
      $('#posted-comments').children().each(
      (i, mainComment) => {
        var topSubComment = mainComment.children;
//        console.log(mainComment);
//        for(var i=1; i<topSubComment.length; i++) {
//          createSideLine(topSubComment[i]);
//          console.log(topSubComment[i]);
//        }
        createSideLine(mainComment, {height:6,top:0});
      }
    );
    }
    
    
    function createSideLine(parent, property) {
      var top = "-3vw";
      var subComment = parent.children;
      var newProperty = { height:6, top:0 };
      var addToNew = { height:6, top:0 };
      
      for(var i=2; i<parent.children.length; i++) {
        
        console.log(window.getComputedStyle(subComment[1]), null);
        var thisCommentHeight = subComment[1].height;
        
        newProperty.height += 2;
        newProperty.top += -2;
//        property = {newHeight, newTop};
        property.height += 3;
        property.top -= 3;
        console.log(property);
        console.log("NEWPROPERTY", newProperty);
        
        subComment[i].firstElementChild.style.top = property.top+"vw";
        subComment[i].firstElementChild.style.height = property.height+"vw";
        
        addToNew = createSideLine(subComment[i], {height:6,top:0});
        console.log("ADDNEWPROPERTY", addToNew);
        property.height += addToNew.height;
        property.top += addToNew.top;
        
      }
        property.height += addToNew.height;
        property.top += addToNew.top;
      
      console.log("PROPERTY", property);

      return property;
//      const { width, top } = createSideLine() {
//        
//      }
    }
  </script>

</body>

</html>
