.section-title 
    | latest news 
    a(href='#!')
        | All News
        i.fa.fa-arrow-right
                
.row._m
    .col-12.col-md-4
        a.news(href='#!')
            .news-img
                img.responsive-img(src='/images/deals/news-1.jpg')
            .news-title Makeup and Styling Tips You Wish Knew Earlier
            .news-date September 4, 2015
    .col-12.col-md-4
        a.news(href='#!')
            .news-img
                img.responsive-img(src='/images/deals/news-2.jpg')
            .news-title 15 Great Pizza Restaurants That You Must Visit
            .news-date September 4, 2015
    .col-12.col-md-4
        a.news(href='#!')
            .news-img
                img.responsive-img(src='/images/deals/news-3.jpg')
            .news-title 10 Modern Fashion Trends and How To Pull Them Off
            .news-date September 4, 2015