.row
    .col-12.col-md-6
        a.poster-block(href="#!")
            .poster-bg(data-bg='/images/deals/poster-1.jpg')
            .poster-text
                | 25% off on all holiday trips
    
    .break-row-md
    
    .col-12.col-md-6
        a.poster-block(href="#!")
            .poster-bg(data-bg='/images/deals/poster-2.jpg')
            .poster-text
                | Upto 70% on shopping gifts