.row
    .col-12.col-md-3
        ul.catFull
            li
                a.beauty(href='#!', data-badge='2') Beauty
            li
                a.education(href='#!', data-badge='4') Education
            li
                a.electronics(href='#!', data-badge='5') Electronics
            li
                a.events(href='#!', data-badge='1') Events
            li
                a.fashion(href='#!', data-badge='3') Fashion
            li
                a.fitness(href='#!', data-badge='9') Fitness
            li
                a.food(href='#!', data-badge='12') Food &amp; Drink
            li
                a.furniture(href='#!', data-badge='11') Furniture
            li
                a.home(href='#!', data-badge='21') Home &amp; Garden
            li
                a.services(href='#!', data-badge='41') Services
            li
                a.shopping(href='#!', data-badge='91') Shopping
            li
                a.travel(href='#!', data-badge='17') Travel
    
    .break-row-md
    
    .col-12.col-md-9