
@mixin box-shadow($z-depth, $v1:0, $v2:0, $v3:0) {
  @if $z-depth == "z-depth-0" {
    box-shadow: none !important;
    
  } @else if $z-depth == "z-depth-1" {
    box-shadow: 0 2px 2px 0 rgba($v1, $v2, $v3, 0.14), 0 3px 1px -2px rgba($v1, $v2, $v3, 0.12), 0 1px 5px 0 rgba($v1, $v2, $v3, 0.2);
    
  } @else if $z-depth == "z-depth-1-half" {
      box-shadow: 0 3px 3px 0 rgba($v1, $v2, $v3, 0.14), 0 1px 7px 0 rgba($v1, $v2, $v3, 0.12), 0 3px 1px -1px rgba($v1, $v2, $v3, 0.2);
    
  } @else if $z-depth == "z-depth-2" {
      box-shadow: 0 4px 5px 0 rgba($v1, $v2, $v3, 0.14), 0 1px 10px 0 rgba($v1, $v2, $v3, 0.12), 0 2px 4px -1px rgba($v1, $v2, $v3, 0.3);
    
  } @else if $z-depth == "z-depth-3" {
      box-shadow: 0 8px 17px 2px rgba($v1, $v2, $v3, 0.14), 0 3px 14px 2px rgba($v1, $v2, $v3, 0.12), 0 5px 5px -3px rgba($v1, $v2, $v3, 0.2);
    
  } @else if $z-depth == "z-depth-4" {
      box-shadow: 0 16px 24px 2px rgba($v1, $v2, $v3, 0.14), 0 6px 30px 5px rgba($v1, $v2, $v3, 0.12), 0 8px 10px -7px rgba($v1, $v2, $v3, 0.2);
  
  } @else if $z-depth == "z-depth-5" {
      box-shadow: 0 24px 38px 3px rgba($v1, $v2, $v3, 0.14), 0 9px 46px 8px rgba($v1, $v2, $v3, 0.12), 0 11px 15px -7px rgba($v1, $v2, $v3, 0.2);
  
  }

}
